@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body{
    font-family: "Inria Sans", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}



.navbar {
    display: flex;
    background-color:#2DE2FA;
    color: rgb(2, 2, 2);
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.brand-title {
    font-size: 1.5em;
    line-height: 60px;
}

.navbar-links {
    height: 100%;
    display: flex;
    /* gap: 50px; */
    
}
.btnsing{
    margin-left: 200px;
    font-size: 1.5rem;
    
}
#logout{
    margin-top: 15px;
    margin-left: 200px;
    font-size: 1.5rem;
    cursor: pointer;
}
.navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.navbar-links li {
    padding: 0 10px;
}

.navbar-links a {
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-size: 1.2em;
    line-height: 60px;
    display: block;
}

.navbar-links a:hover {
    color: #fffffffb;
}


.herosuper{
    background-color:white;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.infocontact{
    width: 50%;
    padding: 20px;
}
.heroimg img{
    width: 200px;
    height: 250px;
}

.infocontact h1{
    font-size: 2rem;
    margin-bottom: 25px;
}

.infocontact p{
    font-size: 1rem;
    color: rgb(19, 18, 18);
}





.toggle-button {
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
}




.Candidates{
    height:100vh ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.box-Candidates{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20PX;
    /* padding: 20PX; */
    margin-top: 10px;
    flex-wrap: wrap;
}
.box-Candidates .box{
    background-color: white;
    border-radius: 10PX;
    box-shadow: 2PX 2PX 5PX 5PX  rgba(0, 0, 0,0.2);
    width: 300PX;
    padding: 20PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350PX;
    gap: 20px;
}
.box img{
    border-radius: 5px;
    height: 250px;
    width: 200px;
}

.btnall{
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    background-color: #2DE2FA;
    color: black;
    border-radius: 10px;
}



.faq{
    margin: 30px auto;
    
    }
    .faq-titale{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .accordion{
       /* background-color: rgb(211, 203, 203); */
       margin:0 auto;
       max-width: 600px;
       margin-top: 10px;
    }
    
    .accordion-item{
        background-color: rgb(211, 203, 203);
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        cursor: pointer;
    
    }
    
    footer{
        margin-top: 70px;
        text-align: center;
    }
    .list{
        display: none;
    }
    .formNav{
        display: none;
    }








@media(max-width:700px){
    .navbar-links a:hover{
        color: white;
    }
    .logoutbtn{
     margin: 0;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links a {
        padding: 10px;
        line-height: 20px;
    }

    .navbar.active .navbar-links {
        max-height: 300px;
        opacity: 1;
        transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    }

    /* Change the toggle button bars for the open state */
    .navbar.active .toggle-button .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar.active .toggle-button .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar.active .toggle-button .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }





    .infocontact{
        width: 100%;
        /* margin-top: 100px; */
    }
    .heroimg{
        width: 100%;
        margin-left: 15%;
    }

    .faq{
        margin-top: 500px;
    }
    .accordion{
        padding: 0 10px;
    }


    footer h1{
        font-size: 1.2rem;
    }
}